* {
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

body {
    margin: 0;
}

p
{
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.5em;
    max-width: 40rem;
}

ul
{
	font-weight: 400;
	font-size: 19px;
	line-height: 28px;
	padding-left: 1em;
    max-width: 40rem;
}

ol {
    padding-left: 2em;
    max-width: 40rem;

}

li {
    max-width: 40rem;
    padding: 0.1em;
}

ol > li, ol > li > ul > a {
    font-weight: 800;
}



code
{
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	margin-top: 1em;
	font-family: "Fira Mono", monospace;
	font-display: swap;
	overflow-wrap: break-word;
}

blockquote {
    max-width: 38rem;
    background-color: #f4f4f4;
    padding: 1em;
}

h1
{
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
	background-color: #346;
	color: #FFF;

}

h2
{
	font-weight: 700;
	font-size: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
    max-width: 40rem;
}

h3
{
	font-weight: 600;
	font-size: 20px;
	padding-top: 4pt;
	padding-bottom: 4pt;

}

a
{
	color: #457;
}

img {
	display: block;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

figure {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	text-align: center;
}

table {
    max-width: 40rem;
}

tr {
    padding-bottom: 1em;
    border: solid 1px #000;
}

td {

    border-bottom: solid 1px #000;
}

td:nth-child(2n) {
    text-align: right;
}

audio {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

video {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#profile {
	width: 300px;
	height: 320px;
	margin-left: 0px;
	padding:  2em 1em 2em 0em;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-self: flex-start;
}

.container ul {
	padding-top: 2em;
	margin-left: 0px;
}

.note {
    color: #346;
    background-color: #f4f4f4;
    max-width: 33rem;
    padding: 1em;
    text-align: center;
    border: solid 2px #000;
}

@media only screen and (max-width : 600px),
only screen and (max-device-width : 600px){
	*
	{
		max-width: 98%;
	}

	.container ul {
		padding-top: 2em;
		margin-left: 0px;
	}
}

@media only screen and (max-width : 450px),
only screen and (max-device-width : 450px){
	*
	{
		max-width: 98%;
	}

	#profile {
		margin-left: auto;
		margin-right: auto;
	}

	.container ul {
		padding-top: 0em;
		margin-left: 0px;
	}

	li {
		padding: 0.5em 0em 0em 0em;
	}
}
